<!DOCTYPE html>
<script src="Scripts/angular.min.js"></script>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="Sample">
<head>
    <title>My test AngularJS</title>
</head>
<body ng-controller="mySampleController">
    <input type="text" ng-model="message" />
    <p ng-bind="message"></p>
    <div ng-app="Sample">
        <script type="text/javascript">
            var myModule = angular.module("Sample", []);
            myModule.controller("mySampleController", ["$scope", function ($scope) {
                $scope.message = "Hello Hello2";
            }]);
        </script>
        <div ng-controller="mySampleController">
            <input type="text" ng-model="message" />
            <p ng-bind="message"></p>
        </div>
    </div>
    <!-- This definition of the script overrides the earlier definition of the module!!! -->
    <script type="text/javascript">
        var myModule = angular.module("Sample", []);
        myModule.controller("mySampleController", ["$scope", function ($scope) {
            $scope.message = "Hello Hello1";
        }]);
    </script>

</body>

</html>
